$min-width: 1000px;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.875rem;

$color-1-norma: #212529;
$color-1-norma-plus: #343a40;
$color-1-norma-minus: #6c757d;
$color-1-main: #016936;
//$color-1-main-plus: #333;
//$color-1-main-minus: #333;

